<ion-view view-title="{{ MENU.browseText | translate }}">
  <ion-content>
    <div class="list condensed-space no-padding">
      <div class="card dark-bg" ng-repeat="category in DATA.categories" >
        <a ui-sref="app.browse.category" nav-direction="forward" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ng-click="toggleCategories(category);">
          <h2> {{ category.name }} </h2>
          <p> {{ category.info }} </p>
          <img src="{{ category.image }}">
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>