<ion-view view-title="{{ MENU.browseText | translate }}">
  <ion-content>
    <div class="hero has-mask" style="background-image: url('{{DATA.selectedCategory.image}}');">
      <div class="content">
        <div class="avatar" style="background-image: url('img/logo.png');"></div>
          <h3><a class="light">{{ DATA.selectedCategory.name }}</a></h3>
          <h4>{{ DATA.selectedCategory.info }}</h4>
      </div>
    </div>
    <div class="tabs-striped tabs-top tabs-dark">
      <div class="tabs tabs-icon-top static">
        <a ui-sref="app.map" class="tab-item">
          <i class="icon ion-map"></i> Map
        </a>
        <a ui-sref="app.activity" class="tab-item">
          <i class="icon ion-arrow-graph-up-right"></i> Activity
        </a>
        <a ui-sref="app.friends" class="tab-item">
          <i class="icon ion-android-people"></i> Friends
        </a>
        <a ui-sref="app.gallery" class="tab-item">
          <i class="icon ion-images"></i> Photos
        </a>
      </div>
    </div>
    <h4 class="content padding double-padding-x">List of {{ DATA.selectedCategory.name }}</h4>
    <div class="list animate-fade-slide-in-right">
      <a ui-sref="app.browse.category.item" class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;" ng-repeat="element in DATA.data | filter:search" ng-click="toggleItems(element);">
        <img src="img/logo.png">
        <h2>{{ element.tags.name }}</h2>
        <p>{{ element.tags.shop }}</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
